a.dtl:hover {
    background-color: #00d8d6;
    color: #fff;
}
a.edit:hover {
    background-color: #18a566;
    color: #fff;
}
 a.del:hover {
    background-color: #ff3f34;
    color: #fff;
}
a.look:hover{
    background-color: aquamarine;
    color: #fff;
}