/* ------------------------------------------------------------------------------------------------ */
/* Preview */
/* ------------------------------------------------------------------------------------------------ */
* { box-sizing: border-box; }

body { margin: 0; padding: 0; font-family: 'Arial', sans-serif; background-color: #fff; }

main.preview { padding: 30px; }

main.preview .index-card { background-color: #f7f7f7; margin: 0 auto; width: 370px; overflow: hidden; text-align: center; display: block; }

@media only screen and (max-width: 767px) { main.preview .index-card { width: 100%; } }

main.preview .index-card .index-card-label { background-color: #18a566; color: #fff; padding: 17px 0; text-align: center; font-size: 10px; text-transform: uppercase; letter-spacing: 3px; }

main.preview .index-card .index-card-header { padding: 20px 0; }

main.preview .index-card .index-card-header .company-name { margin: 0; font-size: 42px; line-height: 60px; font-weight: 800; position: relative; }

main.preview .index-card .index-card-header .company-name img { max-height: 60px; max-width: 80%; }

main.preview .index-card .index-card-list-wrap { min-height: 366px; border-top: 5px solid #12784a; }

main.preview .index-card .index-card-list-wrap .index-card-item a { position: relative; display: block; text-align: left; line-height: 60px; padding: 0 15px; border-top: 1px solid #E2E2E2; text-decoration: none; color: #777; }

main.preview .index-card .index-card-list-wrap .index-card-item a:hover { background-color: #18a566; color: #fff; border-top: 1px solid #12784a; }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child a:after { content: "\f078"; font-family: FontAwesome; font-size: 12px; position: absolute; right: 15px; transition: -webkit-transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child ul { padding: 0; margin: 0; display: block; max-height: 0; overflow: hidden; transition: max-height .5s ease-out, margin .3s; }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child ul li { list-style: none; text-align: left; }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child ul li a { display: block; padding: 0 25px; line-height: 50px; border-top: 0; }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child ul li a:after { display: none; }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child.open a:after { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child.open ul { max-height: 300px; margin: 0 0 15px; }

main.preview .index-card .index-card-list-wrap .index-card-item.has-child.open ul li a { border-top: 0; }

footer { font-size: 14px; padding-bottom: 30px; text-align: center; }

footer a { line-height: 20px; color: #777; text-decoration: none; }

footer a img { width: 20px; height: 20px; margin-left: 10px; vertical-align: middle; }

footer a:hover { text-decoration: none; color: #777; }

/*# sourceMappingURL=preview.css.map */
